*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: url("src/imgs/curser-pontiner.png"), auto;
}
body{
    background-color: rgb(92, 82, 82);
    padding: 0 18px;   
}
/* navbar start */
.nav{
    width: 100%;
    top:0;
    position: sticky;
    padding: 18px 0 4px 0;
    background-color: black;
    z-index: 10;
}
.nav-inner{
    width: inherit;
    top:0;
    position: sticky;
    background-color: #C4C4C4;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    border-radius: 4px 4px 0 0;
}
.nav-link{
    display: flex;
    align-items: center;
}
.nav-link li{
    list-style: none;
}
.nav-link li a, .icon-menu, .icon-logo img{
    display: flex;
    height: 65px;
    text-decoration: none;
    padding: 12px 22px;
}
.nav-link li a,.icon-logo img, .icon-menu,  .icon-menu img, 
.header-box p a, .btn-header, .alinks,
.pro-dec button, .blo-btn button, .blo-btn a, .blogs a, .blnext button{
    cursor: url("src/imgs/curser.png"), pointer;
}
.icon-menu{
    display: none;
    border: none;
    background: none;
}
/* header start  */
.header{
    height: 85vh; 
    background-color: #FFFFFF;
    border-bottom: 4px solid black;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 10vh 5vw;
}
.pheader{
    height: auto;
    display: block;
}
.header-box{
    width: clamp(350px, 50%, 600px);
}
.header-img{
    width: clamp(350px, 50%, 600px);  
}
.header-img img{
    width:  100%;
}
 .btn-header{
    width: clamp(180px, 30vw, 230px);
    height: clamp(25px, 8vh, 65px);
    border: 4px solid black;
    margin: 20px 0;
 }
/* header end  */

/* quick links start  */
.quicklinks{
    position: absolute;
    width: clamp(500px, 65vw, 1400px);
    top:83.5vh;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}
.quicklinks h1, qlinks{
    width: auto;   
}
.qlinks{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
/* .quicklinks h1 {
} */
.alinks{
    background-color: #C4C4C4;
    width:clamp(180px, 20vw, 650px);
    height: clamp(20px, 7.6vh, 75px );
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0  1vw;
    border-top: 4px solid black;
    border-bottom: 4px solid black;
}
.alinks img{
    width: cLamp(14px, 20vw, 26px);
}
.a1, .a4{
    border-left: 4px solid black;
    border-right: 4px solid black;
}
.a2{
    border-right: 4px solid black;
}
/* quick links end  */

/* projects start  */
.projects{
    width: 100%;
    height: 100%;
    background-image: url(src/imgs/bg.svg);
    background-size: 6px;
    display: flex;
    flex-direction: column;
    padding: 10vh 0;
    border-bottom: 4px solid black;
}
.projects h1{
    padding: 8vh 7vw 0;
}
.pro-cards{
    width: 100%;
    height: auto;
    padding: 0 7vw 1vh;
    display: flex;
    overflow-x:scroll;
}
.pcs{
    width: 90%;
    height: auto;
    margin: auto;
    flex-direction: column;
}

.pro-cards::-webkit-scrollbar{
    width: 0;
}
.pro-card{
    min-width:clamp(350px, 50%, 650px);
    height: auto;
    margin: 0 30px;
    background-color: #FFFFFF;
    border: 4px solid black;
    box-shadow: 8px 8px ;
    display: flex;
    flex-direction: column;
}
.pc{
    margin: 50px 0;
}
.pro-date{
    display: flex;
    align-items: center;
    height: 60px;
    justify-content: center;
    background-color: #C4C4C4;
    border-bottom: 4px solid black;
   
}
.pro-date div{
    position: relative;
    background-color: #FFFFFF;
    border: 4px solid black;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    margin: 0 5px;
}
.pro-date h4{
    margin: 0 auto;
}
.pro-card img{
    width: auto;
    height: 150px;
    filter: grayscale(100%);
    object-fit: cover;
    border-bottom: 4px solid black;
}
.pro-dec{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
    margin: 25px;
}
.pro-dec button{
    justify-self: flex-end;
    width: 155px;
    height: 65px;
    margin-top: 20px;
    background-color: #C4C4C4;
    border: 4px solid black;
}
/* projects end  */

/* blog start  */
.blogs{
    background-color: #FFFFFF;
    background-size: 6px;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10vh 15vw 40vh;
    border-bottom: 4px solid black;
    line-height: 1.2;
}
.blogs p{
    margin-bottom: 2.5rem;
}
.blo-cards{
    position: relative;
}
.bc1{
    position: relative;
    z-index: 0;
}
.bc2{
    position: absolute;
    z-index: 1;
    top: 8vh;
    left: 24vw;
}
.bc3{
    position: absolute;
    top: 25vh;
    left: 5vw;
    z-index: 2;
}
.bc4{
    position: absolute;
    top: 35vh;
    left: 20vw;
    z-index: 3;
}
.blo-card{
    width: clamp(250px, 60%, 800px);
    height: auto;
    background-color: #FFFFFF;
    border: 4px solid black;
    box-shadow: 8px 8px;
    display: flex;
    flex-direction: column;
}
.blo-date{
    display: flex;
    align-items: center;
    height: 60px;
    justify-content: center;
    background-color: #C4C4C4;
    border-bottom: 4px solid black;
}
.blo-date div{
    position: relative;
    background-color: #FFFFFF;
    border: 4px solid black;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    margin: 0 5px;
}
.blo-date h4{
    margin: 0 auto;
}
.blo-card img{
    width: auto;
    height: 150px;
    filter: grayscale(100%);
    object-fit: cover;
    border-bottom: 4px solid black;
}
.blo-dec{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
    margin: 25px;
}
.blo-dec button{
    width: 155px;
    height: 65px;
    background-color: #C4C4C4;
    border: 4px solid black;
}
.blnext button{
    width: 100px;
    height: 55px;
    background-color: #C4C4C4;
    border: 4px solid black;
    margin: 0 20px;
}
.blo-dec p {
    margin: 0;
}
.blo-btn{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}
/* blog end  */


/* hover hav  */
    .nav-link li a:hover, .icon-logo img:hover, 
    .btn-header:hover, .alinks:hover,.pro-dec button:hover,
    .blo-btn button:hover, .blnext button:hover{
        background-color: black;
        color: #FFFFFF;
    }
    .icon-menu:hover{
        background-color: black;   
    }
    .icon-menu:hover img, .alinks:hover img{
        filter: invert(100%);
    }
/* navbar end */

/* footer start */
    .footer{
        background-color: #FFFFFF;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: start;
        padding: 0 100px;
    }
    .footer a:hover{
        color: #C4C4C4;
    }
    .footer a{ 
        cursor: text;
    }
/* footer end  */
