@font-face {
    font-family: BalooThambi2-Bold;
    src: url(../fonts/BalooThambi2-Bold.ttf);
}

@font-face {
    font-family: BalooThambi2-Regular;
    src: url(../fonts/BalooThambi2-Regular.ttf);
}
@font-face {
    font-family: BalooThambi2-Medium;
    src: url(../fonts/BalooThambi2-Medium.ttf);
}

*{
    font-family: BalooThambi2-Regular;
    color: black;
}
/* navbar */
.nav a {
    font-family: BalooThambi2-Bold;
    font-size: 26px;
}

/* header  */
.header-box h1{
    font-family: BalooThambi2-Bold;
    font-size: 5vmax;
    line-height: 5.5vmax;
}
.header-box p, .header-box p a{
    font-family: BalooThambi2-Medium;
    font-size: 2rem;
    line-height: 2.5rem;
}
.header-box p a{
    font-weight: 600;
    
}
.btn-header{
    font-family: BalooThambi2-Bold;
    font-size: 1.1rem;
}

/* quick */
.quicklinks h1 {
    font-family: BalooThambi2-Bold;
    font-size: 2.5rem;
}
.alinks{
    font-family: BalooThambi2-Bold;
    text-decoration: none;
    font-size: 1.5rem;
}
/* projects  and blog*/
.projects h1, .blogs h1{
    font-family: BalooThambi2-Bold;
    font-size: 4.5rem;
}
.blogs p a{
    font-family: BalooThambi2-Bold;
    font-size: 1.2rem;
    
}
.pro-date h4, .blo-date h4{
    font-family: BalooThambi2-Bold;
    font-size: 1.2rem;
}
.pro-dec h2, .blo-dec h2{
    font-family: BalooThambi2-Bold;
    font-size: 2.5rem;
}
.pro-dec p, .blo-dec p{
    font-family: BalooThambi2-Medium;
    font-size: 1.3rem;
    line-height: 1.5; 
}
.pro-dec button, .blo-btn button, .blo-btn a{
    font-family: BalooThambi2-Bold;
    font-size: 1.2rem;
}


/* footer */
.footer p{
    font-family: BalooThambi2-Medium;
    font-size: 17px;   
}
.footer a{
    font-family: BalooThambi2-Bold;
    font-size: 16px;   
}

